:root {
    --primary-color: #4a87d2;
    --secondary-color: #dc3545;
    --black-color: #0a0a0a;
    --lightGray-color: #e4e4e4;
    --gray-color: #505357;
    --background-color: #f1f1f1;
    --white-color: #ffffff;
    --secondBackground-color: #f8f8f8;
}

/*
var(--primary-color);
*/
body {
    background-color: var(--background-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* navbar */
nav {
    border: 1px solid #6c757d;
    background-color: var(--gray-color);
}

.navbar {
    --bs-navbar-toggler-focus-width: 0.0rem;
}

.navbar-nav .nav-link .navbar-brand {
    color: var(--lightGray-color);
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
}

.navbar-nav .nav-item.active .nav-link {
    text-decoration: underline;
    color: white;
}

.btn-logout:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn-logout {
    color: #fff;
    background-color: var(--gray-color);
    border-color: var(--secondary-color);
}

.navbar-toggler {
    color: #fff;
    background-color: var(--gray-color);
    border-color: var(--primary-color);
}

.navbar {
    --bs-navbar-toggler-focus-width: 0.0rem;
}

/* login */
.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* capacitacion */
.custom-form-container {
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--secondBackground-color);
}

.custom-form-container .form-control {
    margin-bottom: 15px;
}

.custom-form-container .btn-primary {
    width: 100%;
}

/*home */
.custom-card-container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--secondBackground-color);
}

.btn-primary,
.btn-card {
    background-color: var(--primary-color);
}

input::placeholder {
    font-style: italic;
}